!!! 5
html
  head
    title StateSynth
    
    script(src="/socket.io/socket.io.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-2.0.0.js")
    
    != css('base')
    != js('base')
  body
    #pins(data-bind="foreach: pins")
      .pin
        div pin:
          span(data-bind="text: name")
        div mode:
          select(data-bind="options: supportedModes(), optionsText: 'name', value: mode")
        div value:
          input(type="text", data-bind="value: value, enable: mode().writeable")
          input(type="range", data-bind="attr: {min: mode().range[0], max: mode().range[1]}, value: value, enable: mode().writeable")