body {
  font-family: optima;
  font-size: 12px;
  line-height: 1.5;
}
.pin {
  margin-bottom: 18px;
}
.pin input[type=text] {
  width: 40px;
}
.pin input[type=range] {
  position: relative;
  top: 4px;
}